@charset "UTF-8";
#back {
  background-color: #0E2434; }

.button {
  border-radius: 10px;
  font-family: cursive;
  background: white;
  width: 30%;
  height: 60px;
  font-size: 20px;
  border-bottom: groove;
  color: green; }

button:hover {
  background: #25bee2;
  color: white;
  border-bottom: solid; }

button:disabled:hover {
  color: red;
  background: white; }

button:disabled {
  border-radius: 10px;
  font-family: cursive;
  background: white;
  width: 30%;
  height: 60px;
  font-size: 20px;
  border-bottom: groove;
  color: gray; }

.buttonTimePicker {
  border-radius: 10px;
  font-family: cursive;
  background: white;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-bottom: groove;
  color: #0E2434; }

buttonTimePicker:hover {
  background: #25bee2;
  color: white;
  border-bottom: solid; }

.td {
  border-left-color: black;
  color: white; }

.message {
  font-size: 24px;
  background-color: #EA1F36;
  width: 50%;
  height: 25%;
  left: 2%;
  text-align: center; }

#searchInput {
  border-radius: 5px;
  width: 30%;
  height: 50px;
  font-size: medium;
  font-family: cursive; }

.tabbs {
  color: white;
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-family: cursive; }

tabbs:hover {
  background: green; }

/*animation dfenition*/
.animate-repeat {
  width: 200px;
  height: 50px;
  border: #b90101;
  color: white;
  opacity: 0; }

/*animation enter*/
.animate-repeat.ng-enter {
  transition-delay: 1s;
  transition: 3s;
  /*מספר שניות*/
  opacity: 1; }

/*during animation animation*/
.animate-repeat.ng-enter-active {
  opacity: 0;
  color: white; }

