<div style="float:right; width:100%">    
        <div style="text-align: center; margin-top: 50px; background: #80817F; border-radius: 10px; ">
            <br />
            <button class="button nav nav-tabs" ng-init="Exit=false" ng-disabled="Exit==true" ng-click="Enter=true; isEnter=true; ">
                insert entry time
            </button>
            <button class="button" ng-disabled="Exit==false" ng-click="isEnter=true">insert exit time</button>
            <br />
            <br />
        </div>   
    <br />
    <br />   
    <div style="height: 100% ">
        <div  style="margin-left:2%;">
            <div ng-if="Enter==false" class="message animate-repeat" style="width: 80%; margin-top: 30px; font-family:cursive">
                Goodbye, you worked {{SumHours}} hours !
            </div>
            <div ng-if="error==true" class="message animate-repeat" style="width: 80%; margin-top: 30px font-family:cursive">
                the time is worng!
            </div>
        </div>
        <div class="myFadeAnimation" ng-if="isEnter==true">
            <div class="message" style="width: 100%; color: white;">
                <br />
                <div ng-if="Enter==true" style="font-family:cursive">Hello, have a nice day !</div>
                <br />
                <time-dir timetype="enterTime" ng-if="isEnter==true" timefunction="saveEnterOrExit(enterTime)" back="out()"></time-dir>
            </div>
            <br />
            
        </div>
        </div>
</div> 