<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="appMdl">
<head>
    <title></title>
    <!--stylesheet-->
    <link href="Style/bootstrap.min.css" rel="stylesheet" />
    <link href="Style/angular-clock.css" rel="stylesheet" />
    <link href="Style/clockStyle.min.css" rel="stylesheet" />
    <link href="Style/clockStyle1.min.css" rel="stylesheet" />
    <link href="Style/clockStyle2.min.css" rel="stylesheet" />
    <link href="Style/demo.min.css" rel="stylesheet" />
   <!--Libraries-->
     <script src="Scripts/Libraries/jquery.min.js"></script>
    <script src="Scripts/Libraries/angular.min.js"></script>
    <script src="Scripts/Libraries/Chart.min.js"></script>
    <script src="Scripts/Libraries/angular-chart.js"></script>
    <script src="Scripts/Libraries/angular-animate.js"></script>
    <script src="Scripts/Libraries/bootstrap.min.js"></script>
    <script src="Scripts/Libraries/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="Scripts/Libraries/angular-route.min.js"></script>
    
    <script src="Scripts/Libraries/angular-route.js"></script>
    <script src="Scripts/Libraries/angular-clock.js"></script>
    <script src="Scripts/Libraries/angular-clock.min.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/TimeClock/log.js"></script>
    <!--Controllers-->
    <script src="Scripts/Controllers/clockCtrl.js"></script>
    <script src="Scripts/Controllers/publicCtrl.js"></script>

   
   <!--Directives-->
    <script src="Scripts/Directives/timeDir.js"></script>
    <script src="Scripts/Directives/widgetClockDir.js"></script>
   
    
    
    
  


</head>
<body ng-controller="publicCtrl">
    <div>
        <div>
            <ul class="nav nav-tabs">
                <li ng-click="Route('HomePage')"><a class="tabbs">home page</a></li>
                <li ng-click="Route('Schedule')" class="si-icons si-icons-hover">
                    <a class="tabbs">
                        schedule
                    </a>
                </li>
            </ul>
        </div>
        <div class="clockAnimation">
            <ds-widget-clock theme="theme" show-digital="digital" show-analog digital-format="'hh:mm:ss a EEEE'"></ds-widget-clock>
        </div>
        <div class="PageAnimation" ng-view style="width: 50%"></div>
       
        <div id="back" style="position: absolute; top: 0;  z-index: -1; width: 100%; height: 100%"></div>
    </div>

</body>


</html>

