<link href="Scripts/Style/clockStyle1.scss" rel="stylesheet" />

<div style="text-align: center; background-color: #80817F; height:270px">
    <div ng-model="timetype" class="timePicker ">
        <div style="height: 5px; background: white"></div>

        <timepicker hour-step="1" minute-step="1"></timepicker>
      
    </div>
    <div style="height:50px"></div>
    <button class="buttonTimePicker" style="margin-top: 40px" ng-click="timefunction()">save <span class="glyphicon glyphicon-folder-close"></span></button>
    <button class="buttonTimePicker" style="margin-top: 40px" ng-click="back()">back &nbsp;<span class="glyphicon glyphicon-chevron-left"></span></button>
  
     <div style="height: 20px"></div>
</div>
